{% load static %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- <link rel="stylesheet" href="{% static 'fairvis/bootstrap.min.css' %}"> -->

<!-- <link rel="stylesheet" href="{% static 'fairvis/bootstrap-theme.min.css' %}"> -->

<link rel="stylesheet" href="{% static 'fairvis/style.css' %}" />
<link rel="stylesheet" href="{% static 'fairvis/tab.css' %}" />


<title>Fairness Visualization</title>

<h1 id="main-header" class="centered">Understanding Fairness in Data and ML</h1>


<div id="upload-container">
    <div id="data-upload-container">
        <form id="data-upload-form" action="{% url 'fairvis:upload_data' %}" method="post" enctype="multipart/form-data" class="upload-form">

            {% csrf_token %}

            <div class="form-group">
                <div class="input-group input-file" name="protedfileUpload">
                    <label for="protectedfile">Protected Attributes</label>
                    <input type="file" name="protectedfile" id="protectedfile" class="" />
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-file" name="datafileUpload">
                    <label for="datafile">Data CSV</label>
                    <input type="file" name="datafile" id="datafile" class="" />
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-file" name="predictfileUpload">
                    <label for="predictfile">Predictions</label>
                    <input type="file" name="predictfile" id="predictfile" class="" />
                </div>
            </div>

            <input type="submit" name="submit" value="Upload" id="dataSubmit" disabled="true" class="btn btn-primary"/>
        </form>
      </div>
</div> <!-- End upload forms -->

<!-- Tab links -->
<div id="viz-tabs" class="inactive">
  <div class="tab">
    <button id="definitions-tab" class="tablinks" onclick="openTab('definitions-tab', 'fairdef')">Fairness Definition</button>
    <button id="histogram-tab" class="tablinks" onclick="openTab('histogram-tab', 'histogram')">Histogram</button>
    <button id="calibration-tab" class="tablinks" onclick="openTab('calibration-tab', 'calibration')">Calibration</button>
  </div>
</div>

<!-- Tab content -->
<div id="fairdef" class="tabcontent">
  <h3>Fairness definitions</h3>
  <p><h4>Equal Thresholds:</h4></p>
  <p><h4>Calibration :</h4></p>
  <p>Given a binary classification learner that outputs scores, the learner’s predictions are said to be calibrated if and only if the predicted score for any individual is roughly equivalent to the probability that the true value of the individual’s class is POSITIVE.</p>
  <p>Calibration is a somewhat more complicated notion of fairness for predictors. Because
calibration is not a property of the thresholds set on a prediction score, we do not use calibration as a possible constraint for optimization. Instead, we devote a separate visualization to examining calibration of prediction scores</p>
<img src="../../static/Calibration.png" width="460" height="345" />
  <p><h4>Statistical Parity:</h4></p>
  <p>Statistical parity is a relatively common definition from statistical analysis, examining rates of predicted POSITIVE samples from different groups. Statistical parity does not take into account accuracies of these predictions, simply the portions of individuals predicted to be part of the POSITIVE class.</p>
  <p style="text-indent: 5em;"> STATISTICAL PARITY &rarr; <MATH>TP+FP<over>(TP+TN+FP+FN) </MATH></p>
  <img src="../../static/StatisticalParity.png" width="460" height="345" />
  <p></p>
  <p><h4>Predictive Equality / Equal Opportunity :</h4></p>
  <p>Predictive equality or Equal opportunity is equivalent to an equal true positive rate across the groups being compared</p>
  <p style="text-indent: 5em;"> EQUAL OPPORTUNITY &rarr; <MATH> TP<over>(TP+FN)</MATH> </p>
  <img src="../../static/EqualOpportunity.png" width="460" height="345" />
  <p><h4>Error Rate Balance/Equal Odds:</h4></p>
  <p>Equalized odds is a further constraint added to equal opportunity. Under equalized odds, both the true positive rate and false positive rate must be equal across groups that are being compared.</p>
  <p style="text-indent: 5em;"> EQUALIZED ODDS &rarr; <MATH>TP<over>(TP+FN)</MATH> AND <MATH>FP<over>(TN+FP)</MATH> </p>
  <img src="../../static/EqualOdds.png" width="460" height="345" />
  <p><h4>Predictive Parity:</h4></p>
  <p>Predictive parity looks at correct predictions of membership in the POSITIVE class. Under a predictor that satisfies predictive parity, an individual that is predicted to be a member of the POSITIVE class is equally likely to be a correct prediction regardless of group membership.</p>
  <p style="text-indent: 5em;"> PREDICTIVE PARITY &rarr; <MATH>TP<over>(TP+FP)</MATH> </p>
  <img src="../../static/PredictiveParity.png" width="460" height="345" />
</div>

<!-- Adaptation of histogram visualizations by Martin Wattenberg, Fernanda Viégas, and Moritz Hardt. Ref: https://research.google.com/bigpicture/attacking-discrimination-in-ml/ -->
<div id="histogram" class="tabcontent">
  <h3>2 Histograms</h3>
  <p style = "font-size: 16px;">
    Instructions: <br>
    1. Use the drop-down menus to select the desired protected field, values for group 1 and group 2 and the prediction model/scores. <br>
    2. Click the Visualize/Reset button. <br>
    3. Experiment with the definition buttons to explore different threshold settings. <br>
    4. Drag thresholds manually to investigate the statistics. <br>
    <br />
    X axis shows binned prediction score values<br/>
    Y axis shows counts of data points

  </p><br><br>
  <table> 
    <tr>
        <td rowspan=4 width=300 valign="top"> 
            <div id="histogram-buttons">
                Protected Field: <select id="protectedSelection" class="selectpicker"></select>
                <br><br>
                Group 1: <select id="group1Selection" class="selectpicker"></select>
                <br><br>
                Group 2: <select id="group2Selection" class="selectpicker"></select>
                <br><br>
                Model: <select id="modelSelection" class="selectpicker"></select>
                <br><br>
                <button id="start-hist-button" class="btn btn-primary visualize_histogram hist-btn" onclick="draw_histogram()">Visualize/Reset</button>

                <br><br>

                <button class="demo btn btn-default hist-btn" id="optimize-accuracy">Accuracy</button>
                <br />
                <br />
                <button class="demo btn btn-default hist-btn" id="optimize-equal-threshold">Equal Thresholds</button>
                <br />
                <br />
                <button class="demo btn btn-default hist-btn" id="optimize-statistical-parity">Statistical Parity</button>
                <br />
                <br />
                <button class="demo btn btn-default hist-btn" id="optimize-predictive-parity">Predictive Parity</button>
                <br />
                <br />
                <button class="demo btn btn-default hist-btn" id="optimize-equal-opportunity">Equal Opportunity</button>
                <br />
                <br />
                <button class="demo btn btn-default hist-btn" id="optimize-equal-odds">Equal Odds</button>


                <br>
            </div>
        </td>
    </tr>
    <tr>
      <td valign="top">
        <div class="big-label">Group 1<p id="left-group-acc-container"></p></div>
        <div id="histogram0"></div>
        <div id="histogram-legend0" class="histogram-legend"></div>
        <div id="histogram-stats0" class="histogram-stats"></div>
      </td>
      <td width=20>&nbsp;</td>
      <td valign="top">
        <div class="big-label">Group 2<p id="right-group-acc-container"></p></div>
        <div id="histogram1"></div>
        <div id="histogram-legend1" class="histogram-legend"></div>
        <div id="histogram-stats1" class="histogram-stats"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div id="correct0"></div>
        <div id="pies0"></div>
      </td>
      <td width=20>&nbsp;</td>
      <td valign="top">
        <div id="correct1"></div>
        <div id="pies1"></div>
      </td>
    </tr>
  </table>
</div>

<div id="calibration" class="tabcontent">
    <h3>Evaluation of Calibration</h3>
    <p style = "font-size: 16px;">
    Instructions: <br>
    1. Use the drop-down menus to select the desired protected field,  and the prediction model/scores. <br>
    2. Select the number of bins (>=2) to see how calibrated the data is. Each bin size is 100/nbrOfBins % <br>
    3. Click on the Analyze Calibration method to see the Calibration stats. <br>
    4. Experiment with the number of bins and scoring method to see how calibration changes. <br>
    <br />
    X axis shows bin number<br/>
    Y axis shows the percentage of data points for each group in the bin when target = 1

  </p><br><br>
 

    </p><br><br>
    <table id="calibration-controls-table">
        <tr>
            <td rowspan=4 width=300 valign="top">
                <div id="calibration-buttons">
                    Protected field: <select id="calibration-protected-selection" class="selectpicker"></select>

 <!--                    <br /><br />

                    Protected field value: <select id="calibration-class-value-selection" class="selectpicker"></select> -->

                    <br /><br />

                    Scoring Method: <select id="calibration-prediction-selection" class="selectpicker"></select>

                    <br /><br />

                    Number of bins: <input type="number" name="calibration-num-bins" id="calibration-num-bins" min="2" value="10" />

                    <br /><br />

                    <button class="btn btn-primary" id="visualize-calibration" onclick="draw_calibration()">Analyze calibration</button>
                </div>
            </td>
        </tr>

        <tr>
            <td valign="top">
                <div id="calibration-container"></div>
            </td>
        </tr>
    </table>

    <svg id="calibration-svg"></svg>
</div>





<!-- Ref: https://codepen.io/Sebus059/pen/MwMQbP?editors=1010 -->
<!-- <div class="form-group">
    <div class="input-group input-file" name="Fichier1">
        <span class="input-group-btn">
            <button class="btn btn-default btn-choose" type="button">Choose</button>
        </span>
        <input type="text" class="form-control" placeholder='Choose a file...' />
        <span class="input-group-btn">
             <button class="btn btn-warning btn-reset" type="button">Reset</button>
        </span>
    </div>
</div> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'fairvis/script.js' %}"></script>

<!-- D3 library -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="{% static 'd3/d3.v3.js' %}"></script>
<!-- <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-selection.v1.min.js"></script>
<script src="https://d3js.org/d3-drag.v1.min.js"></script> -->

<!-- <script src="https://www.gstatic.com/external_hosted/d3/v4/d3.min.js"></script> -->


<!-- FOR WORK WHILE ON AMTRAK -->
<!-- <script type="text/javascript" src="{% static 'fairvis/jquery.min.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'fairvis/bootstrap.min.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'fairvis/d3.v3.min.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'fairvis/script.js' %}"></script> -->


<!-- <script src="https://d3js.org/d3.v3.js"></script> -->

<!-- js for plots and tabs --> 
<script src="{% static 'fairvis/viz_calibration.js' %}"></script>
<!-- <script src="{% static 'fairvis/viz_scatterplot.js' %}"></script> -->
<script src="{% static 'fairvis/viz_histogram.js' %}"></script>
<script src="{% static 'fairvis/tab.js' %}"></script>
