{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'fairvis/style.css' %}" />

<form id="upload-form" action="{% url 'fairvis:upload' %}" method="post" enctype="multipart/form-data" class="form-group">
    {% csrf_token %}
    <label for="namefile">Column Names</label>
    <input type="file" name="namefile" id="namefile" />
    <br />
    <label for="datafile">Data CSV</label>
    <input type="file" name="datafile" id="datafile" />
    <br />
    <label for="predictfile">Predictions</label>
    <input type="file" name="precictfile" id="predictfile" />
    <br />
    <input type="checkbox" id="classification" name="classification" />
    <label for="classification">Discrete target values (classes)</label>
    <br />
    <input type="submit" name="submit" value="Upload" id="dataSubmit" disabled="true" />
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'fairvis/script.js' %}"></script>
<!-- <script src=""></script> -->
<!-- importing d3 -->
<script src="https://d3js.org/d3.v4.min.js"></script>

<div>
    <svg width="960" height="500"></svg>
    <!-- importing viz js -->
    <script type="text/javascript" src="{% static 'fairvis/viz_0.js' %}"></script>
</div>

<div id="dataView"></div>
<div style="display:inline-block; float:left" id="container"></div>
<div style="display:inline-block; float:left" id="legend"></div>
