/*******************************************/
/*                General                  */
/*******************************************/

.centered {
	text-align: center;
}

.inactive {
	visibility: hidden;
	display: none;
}

body {
  font: 11px sans-serif;
}

#main-header {
	margin-bottom: 20px;
}


.hist-btn {
	width: 150px;
}


/*******************************************/
/*             Upload Controls             */
/*******************************************/

#upload-form {
	width: 80vw;
	margin: auto;
}

.inactive-upload-form {
	display: none;
	visibility: hidden;
}

#upload-container {
	margin: auto;
	width: 90vh;
	border: 1px black solid;
	padding: 20px;
}

input[type=file] {}


.big-label {
	text-align: center;
	margin-bottom: 10px;
}

.histogram-stats {
	position: relative;
	text-align: center;
}

.left-stat-container {
	display: inline-block;
	margin-right: 10px;
}

.right-stat-container {
	display: inline-block;
	margin-left: 10px;
}


/*******************************************/
/*                  Viz                    */
/*******************************************/

svg {
	margin: auto;
}

#viz-continer {
	margin: auto;
}

.inactive-viz {
	display: none;
	visibility: hidden;
}


#calibration-controls-table {
	display: inline-block;
	vertical-align: top;
}


/*******************************************/
/*                 Plots                   */
/*******************************************/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}








