/*body {
	background-color: green;
}*/ 

/*******************************************/
/*                General                  */
/*******************************************/

.centered {
	text-align: center;
}

.inactive {
	visibility: hidden;
	display: none;
}

body {
  font: 11px sans-serif;
}

#main-header {
	margin-bottom: 20px;
}


/*******************************************/
/*             Upload Controls             */
/*******************************************/

#upload-form {
	width: 80vw;
	margin: auto;
}

.inactive-upload-form {
	display: none;
	visibility: hidden;
}

#upload-container {
	margin: auto;
	width: 90vh;
	border: 1px black solid;
	padding: 20px;
}

input[type=file] {}



/*******************************************/
/*                  Viz                    */
/*******************************************/

/*svg {
	width: 100%;
	height: 100%;
}*/

svg {
	margin: auto;
}

/*
#viz-container {
	width: 90vw;
	height: 90vh;
	margin: auto;
	padding: 20px;
	transform: translate(20px, 20px);
}
*/

#viz-continer {
	margin: auto;
}

.inactive-viz {
	display: none;
	visibility: hidden;
}


/*******************************************/
/*                 Plots                   */
/*******************************************/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}









